:root {
	// background colors
	--body-background-color: #222;
	--desktop-background-color: #088488;
	--taskbar-background-color: #c8b2d1;
	--window-bar-background: #00007b;

	// foreground colors
	--text-color: #000;

	// typography
	--ff-body: 'Windows 95', -apple-system, BlinkMacSystemFont, “Segoe UI”,
		“Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”,
		“Helvetica Neue”, sans-serif;
}
