:root {
	// background colors
	--body-background-color: #222;
	--desktop-background-color: #088488;
	--taskbar-background-color: #c8b2d1;
	--window-header-background-color: #00007b;
	--skip-link-background-color: #c0c0c0;
	--window-content-background-color: #fff;

	// foreground colors
	--text-color: #000;

	// typography
	--ff-body: 'Windows 95', -apple-system, BlinkMacSystemFont, “Segoe UI”,
		“Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”,
		“Helvetica Neue”, sans-serif;

	// sizes
	--root-max-width: 75rem;
	--root-max-height: 37rem;
	--max-window-width: 45rem;
	--max-window-height: 30rem;

	// shadows
	--skip-link-box-shadow: inset 1px 1px #f4f4f4, inset -1px -1px #4e4e4e;
	--window-header-box-shadow: inset 1px 1px #f4f4f4, inset -1px -1px #4e4e4e;
}
