.bookmark {
	--padding-x: 0.75rem;
	display: grid;
	gap: 0.25rem;
	padding: var(--padding-x) var(--padding-y);
	box-shadow: var(--bookmark-box-shadow);
	margin: 0.75rem 0;

	&:hover {
		box-shadow: var(--bookmark-hover-box-shadow);
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
