.footer {
	background-color: var(--taskbar-background-color);
	box-shadow: var(--footer-box-shadow);

	&__inner {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-content: center;
		gap: 3px;
		padding: 4px 6px;
	}
}
