@use '../base/vars';

.main {
	// show the homepage's main content only if it's focused/targeted through skip-link
	&-container[data-page='home']:not(:target) & {
		@extend .visually-hidden;
		display: block;
		min-height: 0;
		min-width: 0;
	}

	&-container:focus {
		outline: none;
	}

	&-container:focus & {
		outline: 2px solid currentColor;
	}

	[data-page='home'] & {
		--padding-x: 2rem;
		--padding-y: 2rem;
		margin: var(--padding-x) var(--padding-y);
	}

	&-container[data-page='home'] {
		--padding-x: 0;
		--padding-y: 0;
	}

	&-container {
		display: flex;
		justify-content: center;
		flex: 1;
	}

	:not([data-page='home']) + .root &-container {
		--padding-x: 0;
		--padding-y: 0;

		@media (min-width: vars.$breakpoint-desktop) {
			--padding-x: 2rem;
			--padding-y: 2rem;
		}
	}
}
