.main {
	&-container {
		--padding-x: 2rem;
		--padding-y: 2rem;

		display: flex;
		justify-content: center;
		flex: 1;
	}

	&[data-has-window='false'] {
		visibility: hidden;
	}

	// show the hompepage's main content only if it's targeted through skip-link
	&[data-has-window='false']:target {
		visibility: visible;
	}
}
