.menu {
	&__toggle {
		display: flex;
		align-items: center;
		width: fit-content;
		padding: 0.33rem 0.375rem;
		box-shadow: var(--taskbar-button-inactive-box-shadow);
	}

	&__toggle img {
		filter: invert(var(--start-btn-invert, 0));
	}

	&[open] &__toggle {
		box-shadow: var(--taskbar-button-active-box-shadow);
	}

	&__content {
		position: absolute;
		bottom: 1.85rem;
		left: 1px;
		padding: 0.125rem 0.125rem 0.125rem 1.5rem;
		min-width: var(--menu-width);
		max-height: calc(
			min(var(--root-max-height), calc(var(--vh, 1vh) * 100)) - var(
					--taskbar-height
				)
		);
		font-size: 0.9rem;
		background-color: var(--menu-background-color);
		box-shadow: var(--menu-box-shadow);
		overflow: auto;
		background-image: var(--menu-gradient);
		background-size: 1.5rem 100%;
		background-repeat: no-repeat;
	}

	& .nav__list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 0;
		justify-items: stretch;
		font-size: 0.9em;
	}

	& .nav__link {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 0.5rem;
		width: 100%;
		height: 2rem;
		padding: 0.125rem 2.8125rem 0.125rem 0.625rem;
	}

	& .nav__item:hover {
		background-color: var(--menu-item-hover-background-color);
		color: var(--menu-item-hover-foreground-color);
	}
}
