@use '../base/vars';

.popup {
	--max-window-width: 25rem;
	--max-window-height: calc(var(--vh, 1vh) * 100);
	grid-template-rows: auto 1fr;
	position: absolute;
	top: var(--top, 0);
	left: 0;
	right: 0;
	margin: auto;
	height: 100%;

	@media (min-width: vars.$breakpoint-desktop) {
		--top: 2rem;
		height: unset;
	}

	&[hidden] {
		display: none;
	}
}
