@use '../base/vars';

.root {
	display: grid;
	grid-template-rows: 1fr auto;
	background-color: var(--root-background-color);

	@media (min-width: vars.$breakpoint-desktop) {
		max-width: min(100vw, var(--root-max-width));
		max-height: min(100vh, var(--root-max-height));
		overflow: auto;
	}

	&__desktop {
		@media (min-width: vars.$breakpoint-desktop) {
			display: flex;
			gap: 1rem;
		}
	}

	&__taskbar {
		position: sticky;
		bottom: 0;
		left: 0;
		background-color: var(--taskbar-background-color);
	}
}
