@use '../base/vars';

.settings {
	display: flex;
	align-items: flex-start;

	.no-js & {
		display: none;
	}

	@media (max-width: #{vars.$breakpoint-desktop + vars.$px}) {
		[data-window-open] + .root & .nav__item,
		[data-popup-open] + .root & .nav__item {
			animation: 500ms toggleVisibility ease forwards;
		}
	}

	[data-page='home'][data-window-open] + .root & .nav__item {
		animation: 0ms toggleVisibility ease backwards;
	}

	[data-item='settings'] {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}
