@use '../base/vars';

.settings {
	display: flex;
	align-items: flex-start;

	.no-js & {
		display: none;
	}

	@media (max-width: #{vars.$breakpoint-desktop + vars.$px}) {
		[data-has-unminimized-window] + .root & {
			visibility: hidden;
		}
	}

	[data-page='home'] + .root & {
		visibility: visible;
	}
}
