.skip-link {
	&:focus {
		z-index: 1000;
		position: absolute;
		left: 1rem;
		top: 1rem;
		display: inline-block;
		padding: 0.5rem 1rem;
		background-color: var(--skip-link-background-color);
		font-size: var(--skip-link-font-size);
		text-decoration: none;
		outline-offset: -5px;
	}

	&:not(:focus) {
		@extend .visually-hidden;
	}
}
