.switcher {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0.5rem;
	border-radius: 1px;
	box-shadow: var(--switcher-box-shadow);
	border: none;

	&__form--inner {
		position: relative;
		padding: 0.5rem;
		font-size: 0.85em;
	}

	&__heading {
		position: absolute;
		top: 0.6rem;
		left: 1.25rem;
		display: inline-block;
		background-color: var(--window-background-color);
		transform: translateY(-50%);
		font-weight: 400;
	}

	&__settings {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem 1rem;
		border: 1px solid rgba(0, 0, 0, 0);
		padding: 0.75rem;
		box-shadow: var(--switcher-fieldset-box-shadow);
	}

	&__fieldset {
		display: grid;
		grid-template-rows: auto 1fr;
		position: relative;
		flex: 1;
		height: 8rem;
		border: 0 none;
		gap: 0.25rem 1rem;
	}

	&__fieldset legend {
		margin-bottom: 0.25rem;
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		align-self: flex-end;
		flex-direction: column;
		height: 6.75rem;
	}

	&__browse {
		position: relative;
	}

	&__browse--outline {
		display: block;
		position: absolute;
		inset: 0;
		pointer-events: none;
	}

	&__browse input[name='browse'] {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		min-width: 100%;
		opacity: 0;
		pointer-events: none;
	}

	input[name='browse']:focus + &__browse--outline {
		outline: 2px solid currentColor;
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 0.5rem;
		margin-top: 1rem;
	}

	&__button {
		display: block;
		padding: 0.15rem 1.25rem;
		border-radius: 0;
		background-color: var(--buttons-background-color);
		box-shadow: var(--buttons-box-shadow);
		cursor: pointer;
		flex: 0 1 11ch;

		&:active {
			outline: 1px dotted currentColor;
			outline-offset: -4px;
		}
	}

	&__button[id='settings-ok-btn'] {
		box-shadow: var(--ok-button-box-shadow);
	}

	select {
		display: block;
		width: 100%;
	}
}
