.toolbar {
	display: flex;
	align-items: center;
	line-height: 1.3;
	font-size: 0.75rem;
	margin: 2px 0.25rem;
	border-bottom: 1px solid var(--window-content-border-top-color);

	span {
		display: inline-block;
		padding: 2px 1ch;
		margin: 0 1px;
	}

	span::first-letter {
		text-decoration: underline;
	}

	span:hover {
		box-shadow: var(--taskbar-button-active-box-shadow);
	}
}
