@use '../base/vars';

.window {
	--padding-x: 0.75rem;
	--padding-y: 0.75rem;

	display: grid;
	grid-template-rows: auto auto 1fr;
	width: 100%;
	background-color: var(--window-background-color);
	overflow: auto;
	z-index: 1;
	box-shadow: var(--window-box-shadow);

	@media (min-width: vars.$breakpoint-desktop) {
		resize: both;
		max-width: min(100%, var(--max-window-width));
		max-height: min(100%, var(--max-window-height));
		min-width: min(100vw, var(--min-window-width));
		min-height: min(100vh, var(--min-window-height));
	}

	&__header {
		display: flex;
		align-items: center;
		gap: 1ch;
		padding: 0 0.1rem 0 0.5ch;
		margin: 2px 2px 0 2px;
		background-image: var(--window-header-background-image);
		box-shadow: var(--window-header-box-shadow);
		color: var(--window-header-foreground-color);
	}

	&__heading {
		flex: 1;
	}

	&__navbar {
		display: flex;
		align-items: center;
		line-height: 1.3;
		font-size: 0.75rem;
		margin: 2px 0.25rem;
	}

	&__navbar span {
		display: inline-block;
		padding: 2px 1ch;
		margin: 0 1px;
	}

	&__navbar span::first-letter {
		text-decoration: underline;
	}

	&__navbar span:hover {
		box-shadow: var(--menu-toggle-active-box-shadow);
	}

	&__content {
		overflow: auto;
		margin: 0 2px 5px 2px;
		border-top: 1px solid var(--window-content-border-top-color);
	}

	&__content .empty-state {
		padding: 1rem;
	}

	&[data-item='window'] {
		@media (max-width: #{vars.$breakpoint-desktop - vars.$px}) {
			/* using !important to override values provided from gsap's draggable */
			transform: translate(0, 0) !important;
		}

		@media (min-width: vars.$breakpoint-desktop) {
			transform: translate(
				var(--window-position-x, 0),
				var(--window-position-y, 0)
			);
		}
	}
}
