.view-toggle {
	display: flex;

	&__btn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3rem;
		height: 1.75rem;
		box-shadow: var(--buttons-box-shadow);

		&::before {
			content: '';
			position: absolute;
			inset: 1px;
			background-color: var(--background-color, transparent);
		}

		&[aria-pressed='true'] {
			--background-color: var(--view-toggle-pressed-background-color);
			box-shadow: var(--buttons-active-box-shadow);
		}
	}

	svg {
		position: relative;
		display: block;
		height: 100%;
	}
}
