{% macro screenshot(name, loopIndex) %}
    {% set urlEndpoint = "https://ik.imagekit.io/rsgqxitab/" %}
    {% set imgPath = "/bookmarks98/" + (name | filenamify) %}
    {% set imgBlurry = urlEndpoint + 'tr:w-10,q:10' + imgPath %}

    {% set img_249 = urlEndpoint + "tr:w-249" + imgPath  %}
    {% set img_498 = urlEndpoint + "tr:w-498" + imgPath  %}
    {% set img_747 = urlEndpoint + "tr:w-747" + imgPath  %}
    {% set img_930 = urlEndpoint + "tr:w-930" + imgPath  %}
    {% set img_996 = urlEndpoint + "tr:w-996" + imgPath  %}
    {% set img_1240 = urlEndpoint + "tr:w-1240" + imgPath  %}

    {% set imgSrcset = img_249 + " 249w, " + img_498 + " 498w, " + img_747 + " 747w, " + img_930 + " 930w, " + img_996 + " 996w, " + img_1240 + " 1240w"  %}
    {% set imgSizes = "(min-width: 1140px) 282px, (min-width: 900px) calc(45.91vw - 232px), (min-width: 820px) 310px, (min-width: 700px) calc(96vw - 458px), (min-width: 500px) calc(50.56vw - 72px), (min-width: 440px) 310px, calc(67.5vw + 27px)" %}

    <img width="500" height="310" alt=""
        {% if loopIndex > 4 %}
        class="lazy"
        data-srcset="{{ imgSrcset }}"
        loading="lazy"
        {% else %}
        srcset="{{ imgSrcset }}"
        {% endif %}
        data-requires-js
        src="{{ imgBlurry }}"
        sizes="{{ imgSizes }}"
        data-fallback="{{ '/fallback.webp' | url }}"
        onerror="this.srcset=this.dataset.fallback;this.classList.add('fallback')"
    />
{% endmacro %}