{% macro screenshot(name, loopIndex) %}
    {% set urlEndpoint = "https://ik.imagekit.io/rsgqxitab/" %}
    {% set imgPath = "/bookmarks98/" + (name | filenamify) %}
    {% set imgBlurry = urlEndpoint + 'tr:w-10,q:10' + imgPath %}
    {% set imgSmall = urlEndpoint + "tr:w-312" + imgPath  %}
    {% set imgMedium = urlEndpoint + "tr:w-624" + imgPath %}
    {% set imgBig = urlEndpoint + "tr:w-936" + imgPath %}
    {% set imgSrcset = imgSmall + " 312w, " + imgMedium + " 624w, " + imgBig + " 936w"%}
    {% set imgSizes = "(max-width: 467px) 90vw, (max-width: 699px) 50vw, (max-width: 851px) 37vw, 312px" %}

    <img width="500" height="310" alt=""
        {% if loopIndex > 4 %}
        class="lazy"
        data-srcset="{{ imgSrcset }}"
        {% else %}
        srcset="{{ imgSrcset }}"
        {% endif %}
        data-requires-js
        src="{{ imgBlurry }}"
        sizes="{{ imgSizes }}"
        data-fallback="{{ '/fallback.webp' | url }}"
        onerror="this.srcset=this.dataset.fallback;this.classList.add('fallback')"
    />
{% endmacro %}