{% macro taskButton(type, innerText, iconSrc) %}
    {% set iconSize = '16' %}

    {% if type === 'main' %}
        {% set isPressedByDefault = 'true' %}
        {% set noJsAlternative = true %}
        {% set buttonId = 'main-task-button' %}
    {% else %}
        {% set isPressedByDefault = 'false' %}
        {% set noJsAlternative = false %}
        {% set buttonId = 'settings-task-button' %}
    {% endif %}

    <button data-requires-js class="[ task-button ] [ minimize-toggle ]" id="{{ buttonId }}" aria-pressed="{{ isPressedByDefault }}" hidden>
        <img src="{{ iconSrc }}" alt="" width="{{ iconSize }}" height="{{ iconSize }}">
        <div class="task-button-label">
            <span aria-hidden="true">{{ innerText }}</span>
            <span class="visually-hidden">{{ innerText }} task button.</span>
        </div>
    </button>
    
    {% if noJsAlternative %}
    <div hidden data-no-js-alternative class="[ task-button ] [ minimize-toggle ]" data-pressed="true">
        <img src="{{ iconSrc }}" alt="" width="{{ iconSize }}" height="{{ iconSize }}">
        <div class="task-button-label">
            <span>{{ innerText }}</span>
        </div>
    </div>
    {% endif %}
{% endmacro %}