{% macro content(page, bookmarkCollection = '') %}

  {% if page === 'home' %}
    <p class="wrapper">There is no main content. Navigate to one of the categories to view bookmarks.</p>
  {% endif %}

  {% if page === 'about' %}
    <div class="wrapper">{{ content | safe }}</div>
  {% endif %}

  {% if page === 'bookmarks' %}
    {% if bookmarkCollection %}
      {% include "partials/bookmarks-list.html" %}
    {% else %}
      <p class="wrapper">No bookmarks filed under this category yet...</p>
    {% endif %}
  {% endif %}

{% endmacro %}