{% macro content(page, bookmarksCollection, heading, pageContent = '') %}
	{% if page === 'home' %}
		<p class="wrapper">Navigate to one of the categories to view bookmarks.</p>
	{% endif %}

	{% if page === 'bookmarks' %}
		<div class="[ window__content-header ] [ wrapper ]">
			<h1 class="window__subheading">Bookmarks filed under: {{ heading }}</h1>
			{% include "partials/view-toggle.html" %}
		</div>

		{% if bookmarksCollection %}
			{% include "partials/bookmarks-list.html" %}
		{% else %}
			<p class="wrapper">No bookmarks filed under this category yet...</p>
		{% endif %}
	{% endif %}

	{% if page === 'about' %}
		<div class="[ webpage ]">
			<div class="[ webpage__inner ] [ flow ] [ wrapper ]">
				{{ pageContent | safe }}
			</div>
		</div>
	{% endif %}
{% endmacro %}
