<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ '/css/main.css' | url }}">
	</head>
	<body>
		<div data-page="{{ pageHook }}" class="visually-hidden"></div>
		<div class="root">
			<div class="root__desktop">
				{% include "partials/site-head.html" %}
				{% include "partials/main-content.html" %}
			</div>
			<div class="root__taskbar">
				{% include "partials/site-foot.html" %}
			</div>
		</div>

		<script defer type="module" src="{{ '/js/main.js' | url }}"></script>
	</body>
</html>
