<!doctype html>
<html lang="en" class="no-js">
	<head>
		{% include "partials/meta.html" %}
		
		<link rel="icon" href="{{ site.icon }}">
		<link rel="stylesheet" href="{{ '/scss/main.css' | url }}" />
		{% set js %} {% include "critical/index.js" %} {% endset %}
		<script>{{ js | jsmin | safe }}</script>
	</head>
	<body class="noise">
		<div
			id="main-hook"
			class="visually-hidden"
		></div>
		<div
			id="settings-hook"
			class="visually-hidden"
		></div>
		<div
			id="page-hook"
			data-page="{{ pageHook }}"
			class="visually-hidden"
			data-window-open
		></div>
		<div class="[ root ] [ scrollbar ]">
			<div class="root__desktop">
				{% include "partials/site-head.html" %}
				{% include "partials/main-content.html" %}
				{% include "partials/settings.html" %}
			</div>
			<div class="root__taskbar"> {% include "partials/site-foot.html" %} </div>
		</div>

		<script type="module" src="{{ '/js/main.js' | url }}"></script>
		<script async type="module" src="{{ '/js/swup.js' | url }}"></script>
	</body>
</html>
