<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ '/scss/main.css' | url }}" />
		<script>
			(function () {
				// Check if localStorage is supported and available
				// source: https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API/Using_the_Web_Storage_API
				function storageAvailable(type) {
					let storage;
					try {
						storage = window[type];
						const x = '__storage_test__';
						storage.setItem(x, x);
						storage.removeItem(x);
						return true;
					} catch (e) {
						return (
							e instanceof DOMException &&
							(e.code === 22 ||
								e.code === 1014 ||
								e.name === 'QuotaExceededError' ||
								e.name === 'NS_ERROR_DOM_QUOTA_REACHED') &&
							storage &&
							storage.length !== 0
						);
					}
				}

				if (storageAvailable) {
					const wallpapers = JSON.parse(localStorage.getItem('wallpapers'));
					const displayMode = localStorage.getItem('display');
					const root = document.documentElement;
					const icons = Object.keys(localStorage).filter(item => item !== "wallpaper" && item !== "display" && item !== "switcher" && item !== "previewSize");
					const previewSize = localStorage.getItem("previewSize");

					icons.forEach((item) => {
						const pos = JSON.parse(localStorage.getItem(item));
						document.documentElement.style.setProperty(`--${item}-x`, `${pos.x}px`);
						document.documentElement.style.setProperty(`--${item}-y`, `${pos.y}px`);
					});

					if (previewSize) {
						root.style.setProperty('--preview-size', previewSize);
					}

					if (wallpapers) {
						const wallpaper = wallpapers.find(item => item.enabled === true);
						const url = wallpaper.custom ? wallpaper.base64 : wallpaper.url;
						root.style.setProperty('--wallpaper', `url('${url}')`);
					}

					if (displayMode) {
						switch (displayMode) {
							case 'center':
								root.style.setProperty(`--size`, 'auto');
								root.style.setProperty(`--preview-size`, previewSize ? previewSize : 'auto');
								root.style.setProperty('--repeat', 'no-repeat');
								root.style.setProperty('--position', 'center');
								break;

							case 'tile':
								root.style.setProperty(`--size`, 'auto');
								root.style.setProperty(`--preview-size`, previewSize ? previewSize : '22.5% auto');
								root.style.setProperty('--repeat', 'repeat');
								root.style.setProperty('--position', 'auto');
								break;
								

							default:
								root.style.setProperty(`--size`, '100% 100%');
								root.style.setProperty(`--preview-size`, '100% 100%');
								root.style.setProperty('--repeat', 'no-repeat');
								root.style.setProperty('--position', 'auto');
								break;
						}
					}

					window.addEventListener('load', () => {
						const switcher = document.querySelector('.switcher__wallpapers:not([data-placeholder])');
						
						if (localStorage.getItem('switcher')) {
							switcher.innerHTML = JSON.parse(localStorage.getItem("switcher")).innerHTML;
						}
						
						const displayOptions = Array.from(
							document.querySelectorAll("select[name='display'] option")
						);
							
						const currentDisplayMode = displayMode
						? displayOptions.find((option) => option.value === displayMode)
						: displayOptions.find((option) => option.value === 'tile');

						currentDisplayMode.selected = true;		
					});
				}
			})();
		</script>
	</head>
	<body>
		<div data-page="{{ pageHook }}" class="visually-hidden"></div>
		<div class="[ root ] [ scrollbar ]">
			<div class="root__desktop">
				{% include "partials/site-head.html" %} {% include
				"partials/main-content.html" %} {% include "partials/settings.html" %}
			</div>
			<div class="root__taskbar"> {% include "partials/site-foot.html" %} </div>
		</div>

		<script defer type="module" src="{{ '/js/main.js' | url }}"></script>
	</body>
</html>
