{% import "macros/window-content.html" as window %}

{% if pageHook == 'bookmarks'  %}
	{% set windowIconSrc = ('/' + category | slugify + '-icon-small.png') | url %}
	{% set windowHeading = category %}
{% elseif pageHook == 'about' %}
	{% set windowIconSrc = ('/' + page.fileSlug | slugify + '-icon-small.png') | url %}
	{% set windowHeading = page.fileSlug %}
{% else %}
	{% set windowHeading = mainHeading %}
{% endif %}
{% set windowIconSize = '16' %}

<div tabindex="-1" id="content" class="[ main-container ] [ wrapper transition-fade ]" data-page="{{ pageHook }}">
	<main data-draggable="window" data-item="window" class="[ main ] [ window ]" data-page="{{ pageHook }}" data-has-window="{{ not not isWindowVisible }}" data-task="main-task-button" data-minimized="false">
		<header data-trigger class="window__header">
			<img width="{{ windowIconSize }}" height="{{ windowIconSize }}" alt="" src="{{ windowIconSrc }}" class="window__icon">
			<h1 class="window__heading">{{ windowHeading }}</h1>
			{% if pageHook != "home" %}
				<a href="{{ '/' | url }}">
					<img width="{{ windowIconSize }}" height="{{ windowIconSize }}" src="{{ '/close-icon.png' | url }}" alt="Go back to home page.">
				</a>
			{% endif %}
		</header>
		<div class="window__navbar" aria-hidden="true">
			<span>File</span>
			<span>Edit</span>
			<span>Search</span>
			<span>Help</span>
		</div>
		<div class="window__content">
			{{ window.content(pageHook, collections[category], content) }}
		</div>
	</main>
</div>
