<ul role="list" class="nav-list" data-parent="{{ parentComponent }}">
  {% for item in categories %}

    {% set itemLinkHref = ('/category/' + ( item | slugify )) | url %}
    {% set iconFileName = ('/icons/' + ( item | slugify ) + '-icon') | url %}
    {% if iconFileSize %}
      {% set iconFileName = iconFileName + '-' + iconFileSize %}
    {% endif %}

    <li class="[ nav-list__item ] [ category ]">
      <a href="{{ itemLinkHref }}" class="category__link">
        <span class="category__icon-container">
          <img width="{{ iconSize }}" height="{{ iconSize }}" class="category__icon" src="{{ iconFileName }}.png" alt="">
        </span>
        <span class="icon__name">{{ item }}</span>
      </a>
    </li>
  {% endfor %}
</ul>