<section tabindex="-1" class="[ window ] [ popup ]" aria-labelledby="settings-popup-label" data-draggable="window" data-item="settings" hidden>
	<header class="[ popup__header ] [ window__header ]" data-trigger>
		<img width="16" height="16" src="{{ '/settings-icon.png' | url }}" alt="">
		<h2 class="[ popup__heading ] [ window__heading ]" id="settings-popup-label">Settings</h2>
		<button type="button" id="settings-close-btn">
			<img width="16" height="16" src="{{ '/close-icon.png' | url }}" alt="">
			<span class="visually-hidden">Close settings</span>
		</button>
	</header>
	{% include "partials/settings-switcher.html" %}
</section>
