<aside class="[ settings ] [ wrapper ]" data-js-required>
	<div class="nav__item" data-item="settings">
		<div aria-hidden="true" class="nav__link">
			<span class="nav__link--icon icon">
				<img width="32" height="32" class="icon__img" src="{{ '/settings-icon.png' | url }}" alt=""/>
			</span>
			<span class="nav__link--name">Settings</span>
		</div>
		<button id="settings-open-btn" type="button" class="nav__link" data-draggable="icon" data-item="settings">
			<span class="nav__link--icon icon">
				<img width="32" height="32" class="icon__img" src="{{ '/settings-icon.png' | url }}" alt=""/>
			</span>
			<span class="nav__link--name">Settings</span>
		</button>
	</div>
	{% include "partials/settings-popup.html" %}
</aside>
