<div class="[ popup__content window__content  switcher ] [ wrapper ]">
	<div class="switcher__preview">
		<h3 class="visually-hidden">Wallpaper preview</h3>
		<img width="182" height="168" src="{{ '/preview-frame.png' | url }}" alt="">
		<div id="wallpaper-preview"></div>
	</div>

	<form class="switcher__form">
		<div class="switcher__form--inner">
			<h3 class="switcher__heading">Wallpaper</h3>

			<div class="switcher__settings">

				<fieldset class="switcher__fieldset">
					<legend class="visually-hidden">Select a picture or a theme:</legend>
					<div class="fl-underline" aria-hidden="true">Select a picture or a theme:</div>

					<div class="switcher__wallpapers-container">
						<div class="switcher__wallpapers" data-placeholder></div>
						<div class="switcher__wallpapers">
							{% for wallpaper in wallpapers %}
								<label for="{{ wallpaper | slugify }}" class="wallpaper">
									<input {% if wallpaper === "(None)" %} checked {% endif %} type="radio" name="wallpaper" id="{{ wallpaper | slugify }}" value="{{ wallpaper | slugify }}">
									<img width="16" height="16" src="{{ '/paint-file-icon.png' | url}}" alt="">
									<span>{{ wallpaper }}</span>
								</label>
							{% endfor %}
						</div>
					</div>
				</fieldset>

				<div class="switcher__controls">
					
					<div class="switcher__browse">
						<label class="switcher__button" for="browse-input">Browse</label>
						<input type="file" name="browse" id="browse-input" accept="image/png, image/jpeg">
						<span class="switcher__browse--outline"></span>
					</div>

					<div class="switcher__display">
						<label class="fl-underline" for="display-select">Display:</label>
						<div class="dropdown">
							<select name="display" id="display-select">
								{% for mode in displayModes %}
									<option value="{{ mode | lower }}" {% if mode === 'Tile' %}selected{% endif %}>
										{{ mode }}
									</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="switcher__theme">
						<label class="fl-underline" for="theme-select">Theme:</label>
						<div class="dropdown">
							<select name="theme" id="theme-select">
								{% for theme in themes %}
									<option value="{{ theme | lower }}">{{ theme }}</option>
								{% endfor %}
							</select>
						</div>
					</div>

				</div>
			</div>
			
			<div class="switcher__buttons">
				<button class="switcher__button" id="settings-ok-btn" type="submit">OK</button>
				<button class="switcher__button" id="settings-cancel-btn" type="button">Cancel</button>
				<button class="switcher__button" id="settings-apply-btn" type="button">Apply</button>
			</div>
		</div>
	</form>
	
</div>
