{% from "macros/window-header.html" import windowHeader %}

<div hidden class="alert-container" id="alert-outer">
    <section tabindex="-1" role="dialog" class="[ settings__alert ] [ alert ] [ window ]" aria-labelledby="alert-popup-label">
        {{ windowHeader("alert") }}

        <div class="[ alert__content ] [ window__content ] [ wrapper flow ]">
            <p class="alert__message">Placeholder Message</p>
            <button class="switcher__button" type="button" id="alert-ok-btn">OK</button>
        </div>
    </section>
</div>