<div hidden class="alert-container" id="alert-outer">
    <section tabindex="-1" role="dialog" class="[ settings__alert ] [ alert ] [ window ]" aria-labelledby="alert-popup-label">
        <header class="[ alert__header ] [ window__header ]">
            <h2 class="[ alert__heading ] [ window__heading ]" id="alert-popup-label">Placeholder Title</h2>
            <button type="button" id="alert-close-btn">
                <img width="16" height="16" src="{{ '/close-icon.png' | url }}" alt="">
                <span class="visually-hidden">Close alert window</span>
            </button>
        </header>
        <div class="[ alert__content ] [ window__content ] [ wrapper flow ]">
            <p class="alert__message">Placeholder Message</p>
            <button class="switcher__button" type="button" id="alert-ok-btn">OK</button>
        </div>
    </section>
</div>