{% set navLabel = "Footer navigation" %}
{% set navParent = "footer" %}

{% set mainTaskButtonText = (category if category else page.fileSlug) %}
{% set mainTaskButtonText = (mainTaskButtonText[0] | capitalize) + mainTaskButtonText.slice(1, mainTaskButtonText.length) %}
{% set mainTaskButtonIcon = ('/' + (category if category else page.fileSlug) | slugify + '-icon-small.png') | url %}
{% set settingsTaskButtonText = 'Settings' %}
{% set settingsTaskButtonIcon = ('/settings-icon-small.png') | url %}

<footer class="footer">
    <div class="footer__inner">
        {% include "partials/menu.html" %}
        {% include "partials/task-buttons.html" %}
    </div>
</footer>