{% if pageHook !== 'home' %}
<button data-requires-js class="[ task-button ] [ minimize-toggle ]" id="main-task-button" data-active="true" aria-pressed="false">
    <img src="{{ mainTaskButtonIcon }}" alt="" width="{{ taskButtonIconSize }}" height="{{ taskButtonIconSize }}">
    <div class="task-button-label">
        <span aria-hidden="true">{{ mainTaskButtonText }}</span>
        <span class="visually-hidden">{{ mainTaskButtonText }} button</span>
        <span class="visually-hidden">{{ mainTaskButtonText }} window unminimized.</span>
    </div>
</button>
<div data-no-js-alternative class="[ task-button ] [ minimize-toggle ]" data-active="true">
        <img src="{{ mainTaskButtonIcon }}" alt="" width="{{ taskButtonIconSize }}" height="{{ taskButtonIconSize }}">
    <div class="task-button-label">
        <span>{{ mainTaskButtonText }}</span>
    </div>
</div>
{% endif %}

<button hidden data-requires-js class="[ task-button ] [ minimize-toggle ]" id="settings-task-button" data-active="false" aria-pressed="false">
    <img src="{{ settingsTaskButtonIcon }}" alt="" width="{{ taskButtonIconSize }}" height="{{ taskButtonIconSize }}">
    <div class="task-button-label">
        <span aria-hidden="true">{{ settingsTaskButtonText }}</span>
        <span class="visually-hidden">{{ settingsTaskButtonText }} button</span>
        <span class="visually-hidden">{{ settingsTaskButtonText }} window unminimized.</span>
    </div>
</button>