<section data-requires-js class="view-toggle-container" aria-labelledby="view-toggle-label">
    <h2 id="view-toggle-label" class="visually-hidden">View</h2>
    <div class="view-toggle">
        <button class="view-toggle__btn" aria-pressed="true" data-view="image">
            <span class="visually-hidden">Image view</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M4 11V4h7v7zm0 9v-7h7v7zm9-9V4h7v7zm0 9v-7h7v7zM5 10h5V5H5zm9 0h5V5h-5zm0 9h5v-5h-5zm-9 0h5v-5H5zm5-9"/></svg>
        </button>
        <button class="view-toggle__btn" aria-pressed="false" data-view="details">
            <span class="visually-hidden">Details view</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M4 19.385v-6h16v6zm1-1h14v-4H5zm-1-7.77v-6h16v6zm1-1h14v-4H5zm0 4.77v4zm0-8.77v4z"/></svg>
        </button>
    </div>
</section>